/*sidebar*/
.sidenav {
    
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 270px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #cf2828; 
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 170px;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover {
    color: #f1f1f1;
}
/*


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.bullet{
    display: inline-block;
    border-radius: 4px;
    background-color: #bbbbbb;
    border: none;
    color: #f8f8f8;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 10px;
  
}

.bullet span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.bullet span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.bullet:hover span {
    padding-right: 25px;
  }
.bullet:hover span:after {
    opacity: 1;
    right: 0;
}
.button {
    position: relative;
    background-color: #656665;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding:10px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.navbar {
    overflow: hidden;
    background-color: #314a82;
    height: 170px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: 0;
    }

    /* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #050505;
    text-align: center;
    padding: 10px 10px;
    margin-top: 55px;
    margin-right: 50px;
    text-decoration: none;
    background-color: #c8d1d6;
    border-radius: 5px;
    width: 70px;
}

    /* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar p {
    float: right;
    display: block;
    color: #ffffff;
    padding: 10px 10px;
    margin-top: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
}

body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
a{
    font-family: 'Kanit', sans-serif;
}

.episode {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
  }

.episode__content {
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
  }

.episode__content .title {
    font-weight: 600;
  }  

.episode__content .story {
    line-height: 26px;
}

.episode__number {
    font-size: 10vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
  }

.story p {
    margin-left: 50px;
}