<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
<html>
{% if messages %}
    <!-- css file location <link rel="stylesheet" type="text/css" href="{% static '/users/css' %}"> -->
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}



<body>
    
<div class="container"> 
<div class="login-box" >
	
    <img src="..\static\images\Logo_ECE.png" height="80 px" width="380 px"  >
        <form action="{% url 'users:login' %}" method = "POST" class="form-group">
        
            {%csrf_token%}
            <h3 style="margin-left:45px;margin-bottom:0px;margin-top:0px ">ยินดีต้อนรับ</h3>
            <h3 style="margin-top:0px;margin-bottom:0px" >นักศึกษา และ บุคลากร</h3>
    <div class="user-box">        
            <input type="text"  style="color: black " id="form.username" placeholder="เลขทะเบียนนักศึกษา/รหัสผู้ใช้งาน" name="username">
    </div>        
        
    <div class="user-box">
            <input type="password" style="color: black "  id="form.password" placeholder="รหัสผ่าน" name="password"><br>
    </div>
    
    <div class="submit">
    <a href="#">
        
        <input type="submit"  color: rgb(255, 255, 255);  value="ลงชื่อเข้าใช้">
    </a>
          </form>
	</div>

</div>
</div>
</body>
</html>


