<!DOCTYPE html>
{% load static %}



<html>

{% if messages %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/alert.css' %}">
    <!--<div class="overlay">
    	<div class="popup">
    		<a class="close" href="#">&times;</a>
    		<div class="content">-->
    			{% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
    		</div>
    	</div>
    </div>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static '/users/css/login.css' %}">

<div class="container" id="container">


	<div class="form-container sign-in-container">
	    <form action="{% url 'users:login' %}" method = "POST" class="form-group">
	        <h1>Sign in</h1>
            {%csrf_token%}
        	{{ form }}
            <button type= "submit" class= "btn btn-success">Login</button>
        </form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>

			</div>
		</div>
	</div>

</div>

</html>


