<!DOCTYPE html>
{% load static %}

<html>
{% if messages %}
    <!-- css file location <link rel="stylesheet" type="text/css" href="{% static '/users/css' %}"> -->
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static '/users/css/login.css' %}">

<div class="container" id="container">
	<div class="form-container sign-in-container">
	    <form action="{% url 'users:login' %}" method = "POST" class="form-group">
	        <h1>Sign in</h1>
            {%csrf_token%}
        	{{ form }}
            <button type= "submit" class= "btn btn-success">Login</button>
        </form>
	</div>

</div>

</html>


