{% extends "users/layout.html" %}
<html>
<title>Project</title>
{% block body %}
<body style="background-color:#bbbbbb;">
    <div style="margin:220px 50px">
        <h1> Project Approval </h1>
        <a href="{% url 'project:create_project' %}" class="button" >ขออนุมัติการทำโครงงาน</a><br><br>
        <a href="{% url 'users:index' %} " class="button" >Return to Index</a>
    </div>
<body>
    <h1> Project Approval </h1>
    <h2>Welcome, Name </h2>
    {% for project in projectb %}
                    <p>{{ project.ProID }}</p>
                    <p>{{ project.projectname }}</p>
                    <p>{{ project.projectmanager }}</p>
                    <p>{{ project.article }}</p>
                    <p>Status : {{ project.status }}</p>

                    <p><a name="projectid" href="{% url 'users:approved' project.ProID %}"class= "btn btn-outline-danger">Check</a></p>
    {% endfor %}

    <a href="{% url 'users:index' %} " class="button" >Return to Index</a>

</body>
{% endblock %}

</html>