<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'project:create_project' %}" method="post" novalidate>
            {% csrf_token %}
            <h2>Project Name </h2>
            <input  type="text" name="projectname" autocomplete="projectname" id="projectname">
            <br>
            <h2>Project Manager </h2>
            <input  type="text" name="projectmanager" autocomplete="projectmanager" id="projectmanager">
            <br>
            <h2>Article </h2>
            <input  type="text" name="article" autocomplete="article" id="article">
            <br>
            <br>
            <button type="submit" >Save &#128190;</button>
        </form>
    </body>
</html>